<app-board>
  <div class="game-menu">
    <ul class="list-group">
      <li class="list-group-item border-0">
        <a
          ariaCurrentWhenActive="page"
          routerLink="/cell-demo"
          routerLinkActive="active"
        >Cell Demo</a
        >
      </li>
      <li class="list-group-item border-0" id="number-pad-list-group">
        <input
          autocomplete="off"
          checked
          class="btn-check"
          id="number1"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number1">1</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number2"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number2">2</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number3"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number3">3</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number4"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number4">4</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number5"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number5">5</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number6"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number6">6</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number7"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number7">7</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number8"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number8">8</label>

        <input
          autocomplete="off"
          class="btn-check"
          id="number9"
          name="numbers"
          type="radio"
        />
        <label class="btn number-pad" for="number9">9</label>
      </li>
      <li class="list-group-item border-0" id="pen-pad-list-group">
        <input
          autocomplete="off"
          checked
          class="btn-check"
          id="pencil"
          name="pen-or-pencil"
          type="radio"
        />
        <label class="btn pen-pad" for="pencil">
          <svg
            class="bi bi-pencil-fill"
            fill="currentColor"
            height="32"
            viewBox="0 0 16 16"
            width="32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
            />
          </svg>
        </label>
        <input
          autocomplete="off"
          class="btn-check"
          id="pen"
          name="pen-or-pencil"
          type="radio"
        />
        <label class="btn pen-pad" for="pen">
          <svg
            class="bi bi-pen-fill"
            fill="currentColor"
            height="32"
            viewBox="0 0 16 16"
            width="32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"
            />
          </svg>

        </label>
      </li>
    </ul>
  </div>
</app-board>
