<app-board>
  <div class="game-menu">
    <ul class="list-group">
      <li class="list-group-item border-0">
        <a ariaCurrentWhenActive="page" routerLink="/cell-demo" routerLinkActive="active">Cell Demo</a>
      </li>
      <li class="list-group-item border-0">
        <input autocomplete="off" checked class="btn-check" id="option1" name="options" type="radio">
        <label class="btn btn-secondary" for="option1">1</label>

        <input autocomplete="off" class="btn-check" id="option2" name="options" type="radio">
        <label class="btn btn-secondary" for="option2">2</label>

        <input autocomplete="off" class="btn-check" id="option3" name="options" type="radio">
        <label class="btn btn-secondary" for="option3">3</label>

        <input autocomplete="off" class="btn-check" id="option4" name="options" type="radio">
        <label class="btn btn-secondary" for="option4">4</label>

        <input autocomplete="off" class="btn-check" id="option5" name="options" type="radio">
        <label class="btn btn-secondary" for="option5">5</label>

        <input autocomplete="off" class="btn-check" id="option6" name="options" type="radio">
        <label class="btn btn-secondary" for="option6">6</label>

        <input autocomplete="off" class="btn-check" id="option7" name="options" type="radio">
        <label class="btn btn-secondary" for="option7">7</label>

        <input autocomplete="off" class="btn-check" id="option8" name="options" type="radio">
        <label class="btn btn-secondary" for="option8">8</label>

        <input autocomplete="off" class="btn-check" id="option9" name="options" type="radio">
        <label class="btn btn-secondary" for="option9">9</label>
      </li>
    </ul>
  </div>
</app-board>
