<div class="guess-container-left">
  <div class="guess invisible" id="{{Id}}GV1">1</div>
  <div class="guess invisible" id="{{Id}}GV2">2</div>
  <div class="guess invisible" id="{{Id}}GV3">3</div>
  <div class="guess invisible" id="{{Id}}GV4">4</div>
  <div class="guess invisible" id="{{Id}}GV5">5</div>
</div>
<div class="cell-value-container">
  <div class="cell-coordinates invisible">{{ Id }}</div>
  <div class="cell-value" id="{{Id}}CV"></div>
</div>
<div class="guess-container-right">
  <div class="guess invisible" id="{{Id}}GV6">6</div>
  <div class="guess invisible" id="{{Id}}GV7">7</div>
  <div class="guess invisible" id="{{Id}}GV8">8</div>
  <div class="guess invisible" id="{{Id}}GV9">9</div>
</div>

