<div class="container text-center">
  <div class="row align-items-start" id="{{Id}}CL">
    <div class="cell-coordinates invisible">{{ Id }}</div>
    <div class="container text-center p-0" id="{{Id}}CC">
      <div class="row align-items-start" id="{{Id}}CCR">
        <div class="col float-start p-0" style="display: inline">
          <div class="guess invisible" id="{{Id}}GV1">1</div>
          <div class="guess invisible" id="{{Id}}GV2">2</div>
          <div class="guess invisible" id="{{Id}}GV3">3</div>
        </div>
        <div class="cell-value" id="{{Id}}CV"></div>
        <div class="col float-end p-0" id="{{Id}}CR" style="display: inline">
          <div class="guess invisible" id="{{Id}}GV7">7</div>
          <div class="guess invisible" id="{{Id}}GV8">8</div>
          <div class="guess invisible" id="{{Id}}GV9">9</div>
        </div>
      </div>
    </div>
    <div class="col guess-container-bottom" id="{{Id}}CB">
      <div class="guess invisible" id="{{Id}}GV4" style="display: inline; margin-right: 5px">4</div>
      <div class="guess invisible" id="{{Id}}GV5" style="display: inline; margin-right: 5px">5</div>
      <div class="guess invisible" id="{{Id}}GV6" style="display: inline; margin-right: 5px">6</div>
    </div>
  </div>
</div>
