// Including all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
@use "node_modules/bootstrap/scss/bootstrap";

html {
  @media (max-width: 4000px) {
    font-size: 1.28vw;
  }

  @media (max-width: 768px) {
    font-size: 1.5vw;
  }

  @media (max-width: 500px) {
    font-size: 2vw;
  }
}

.guess {
  font-size: 0.8rem;
  line-height: 1rem;
}

.cell {
  @extend .border;
  @extend .rounded;
  @extend .border-success;
  min-width: 4rem;
}

.cell-coordinates {
  @extend .fs-6;
  @extend .lh-1;
}

.cell-value {
  @extend .fs-2;
  @extend .lh-1;
}

.cell-selected {
  background-color: var(--bs-success-bg-subtle);
  color: white !important;
}

.cell-selected-guess {
  color: red !important;
}

.cell-value-selected {
  color: white !important;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px var(--bs-danger),
    0 0 40px var(--bs-danger),
    0 0 50px var(--bs-danger),
    0 0 60px var(--bs-danger),
    0 0 70px var(--bs-danger);
  }
  to {
    text-shadow: 0 0 20px #fff,
    0 0 30px var(--bs-primary),
    0 0 40px var(--bs-primary),
    0 0 50px var(--bs-primary),
    0 0 60px var(--bs-primary),
    0 0 70px var(--bs-primary),
    0 0 80px var(--bs-primary);
  }
}

.game-row {
  @extend .d-flex;
}

.game-menu {
  //max-width: 20%;
}

.number-pad {
  font-size: 1rem;
  margin: .1rem;
  min-width: 1rem;
}

#number-pad-list-group {
  padding: 0;
  text-align: center;
}

#pen-pad-list-group {
  padding: 0;
  text-align: center;
}

.pen-pad {
  margin: .1rem;
  font-size: 0.9rem;
  padding: 0.4rem 0.5rem;
}
