// Including all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
@import "node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
//@media screen and (max-width: 375px) {
//}
html {
  @media (max-width: 4000px) {
    font-size: 1.25vw;
  }

  @media (max-width: 768px) {
    font-size: 1.5vw;
  }

  @media (max-width: 500px) {
    font-size: 2vw;
  }
}


.cell-value-container {
  @extend .float-start;
  @extend .col-8;
}

.guess-container-left {
  @extend .float-start;
  @extend .col-2;
}

.guess-container-right {
  @extend .float-end;
  @extend .col-2;

  // This "centers" vertically
  transform: translateY(12%);
}

.guess {
  @extend .row;
  @extend .justify-content-center;
  font-size: .8rem;
  min-width: 2rem;
}

.cell {
  @extend .border;
  @extend .rounded;
  @extend .border-success;
  max-width: 5rem;
}

.cell-coordinates {
  @extend .row;
  @extend .justify-content-center;
  font-size: .7rem;
}

.cell-value {
  @extend .row;
  @extend .justify-content-center;
  font-size: 3rem;
  min-width: 2.4rem;
}

.game-row {
  @extend .row;
  @extend .flex-nowrap;
  @extend .g-0;
  //@extend .p-1;
  @extend .justify-content-center;

  min-width: calc(5.1rem * 9);
}

#game-screen {
  @extend .container-fluid;
  @extend .justify-content-center;
}

.game-board {
  @extend .border;
  @extend .border-danger;
  @extend .rounded;
  @extend .p-1;
  @extend .col-8;

  min-width: calc(5.2rem * 9);
}

.game-menu {
  @extend .border;
  @extend .border-danger;
  @extend .rounded;
  @extend .p-1;
  @extend .col-4;
}
